
/* GENERAL ;)*/

*{
	margin: 0;
	padding: 0;
}

body{

	font-family: 'Raleway', sans-serif;
	font-size: 15px;

}

h1{
	font-family: Helvetica Neue, Helvetica, serif;
	font-size: 45px;
	color: blue;

}

ul{
	list-style: none;


}
a{
	text-decoration: none;
	color: blue;
}

.wrapper{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;

}

.vert{
	color: green;
}


/* HEADER ;)*/

header{
	height: 120px;

}
header h1{
	float: left;
	margin-top: 32px;
}
header nav{
	float: right;
	margin-top: 50px;

}
header nav ul li{
	display: inline-block;

}
header nav ul li a {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 130px;
}
